
body, html, header {
    padding: 0;
    margin: 0;
}
.header4 {
    background-color: rgb(10, 183, 241);
    color: white;
    padding: 1em 0;
    width: 50vw;
    height: 50vh;
}

.header_container4 {
    font-size: 2.5rem;
    margin: 0;
}

.header_title4 {
    border: 3px solid red;
    width: 80vh;
   
}

/* .header5 {
    background-color: rgb(10, 183, 241);
    color: white;
    padding: 1em 0;
    
}

.header_container5 {
    font-size: 2.5rem;
    margin: 0;
}

.header_title5 {
    border: 3px solid red;
    width: 80vw;
}
 */
