*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    display: flex;
    justify-content: center;
    
    overflow: hidden;
}
body{
    background-color: rgba(0, 0, 255, 0.278); 
    
}

.sun-rise{
    background: radial-gradient(circle at 50px 100px, #5cabff, #000, red, orange, yellow);
    border-radius: 50%;
    height: 70vh;
    aspect-ratio: 1/1;
    animation: sun-rise 4s linear 0s alternate infinite;
   
}

@keyframes sun-rise{
    from{
        transform: translateY(100vh);
    }
    to {
        transform: translateY(0);
    }
}