* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
    background-color: #21d4fd;
    background-image: linear-gradient(19deg, #000000 70%, #999999 90%);
    background-repeat: no-repeat;
    
    margin: 50px;
   
    
  } */

.bg-image {
  background-image: linear-gradient(19deg, #000000 70%, #999999 90%);
  width: 100%;
  height: 15vh;
  margin: 0 auto;
  background-size: cover;
  box-shadow: -15px 5px 20px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.su-damlasi1 {
  width: 20px;
 
  position: absolute;
  top: 75px;
  left: 12%;
  z-index: 1;
  animation: hop-up 8s alternate infinite;  
}

.su-damlasi2 {  
  width: 20px;
  position: absolute;
  top: 75px;
  left: 17%;
  z-index: 1;
  animation: hop-up 8.02s linear alternate infinite; 
}

.su-damlasi3 {
  width: 20px;
  position: absolute;
  top: 75px;
  left: 22%;
  z-index: 1;
  animation: hop-up 8.05s linear alternate infinite; 
}

.su-damlasi4 {
  width: 20px;
  position: absolute;
  top: 75px;
  left: 27%;
  z-index: 1;
  animation: hop-up 8.09s linear alternate infinite;   
}

.su-damlasi5 {
  width: 20px;
  position: absolute;
  top: 75px;
  left: 32%;
  z-index: 1;
  animation: hop-up 8.14s linear alternate infinite;
    
}
.su-damlasi6 {
  width: 20px;
  position: absolute;
  top: 75px;
  left: 37%;
  z-index: 1;
  animation: hop-up 8.2s linear alternate infinite;
  
}
.su-damlasi7 {
  width: 20px;
  position: absolute;
  top: 75px;
  left: 42%;
  z-index: 1;
  animation: hop-up 8.27s linear alternate infinite;
  
}
.su-damlasi8 {
  width: 20px;
  position: absolute;
  top: 75px;
  left: 47%;
  z-index: 1;
  animation: hop-up 8.35s linear alternate infinite;
  
}
.su-damlasi9 {
  width: 20px;
  position: absolute;
  top: 75px;
  left: 52%;
  z-index: 1;
  animation: hop-up 8.35s linear alternate infinite;
 
}
.su-damlasi10 {
  width: 20px;
  position: absolute;
  top: 75px;
  left: 57%;
  z-index: 1;
  animation: hop-up 8.27s linear alternate infinite;
  
}
.su-damlasi11 {
  width: 20px;
  position: absolute;
  top: 75px;
  left: 62%;
  z-index: 1;
  animation: hop-up 8.2s linear alternate infinite;
  
}
.su-damlasi12 {
  width: 20px;
  position: absolute;
  top: 75px;
  left: 67%;
  z-index: 1;
  animation: hop-up 8.14s linear alternate infinite;
 
}
.su-damlasi13 {
  width: 20px;
  position: absolute;
  top: 75px;
  left: 72%;
  z-index: 1;
  animation: hop-up 8.09s linear alternate infinite;
  
}
.su-damlasi14 {
  width: 20px;
  position: absolute;
  top: 75px;
  left: 77%;
  z-index: 1;
  animation: hop-up 8.05s linear alternate infinite;
  
}
.su-damlasi15 {
  width: 20px;
  position: absolute;
  top: 75px;
  left: 82%;
  z-index: 1;
  animation: hop-up 8.02s linear alternate infinite;
  
}
.su-damlasi16 {
  width: 20px;
  position: absolute;
  top: 75px;
  left: 87%;
  z-index: 1;
  animation: hop-up 8s linear alternate infinite;
  
}

@keyframes hop-up {
  0% {
    transform: translateY(100px);

  }
  10% {
    transform: rotate(-240deg) translateY(15px);     
   
  }
  20% {
    transform: rotate(-180deg) translateY(30px);
    
    
  }
  30% {
    transform: rotate(-120deg) translateY(30px);
  }
  40% {
    transform: rotate(-60deg) translateY(30px);
  }
  50% {
    transform: rotate(0deg) scale(4) (150px);
    
  
  }
  60% {
    transform: rotate(60deg) translateY(30px);
  }
  70% {
    transform: rotate(120deg) translateY(30px);
  }
  80% {
    transform: rotate(180deg) translateY(30px);
  }
  
  85% {
    transform: rotate(240deg) translate(-150px);
  }
  90% {
    transform: rotate(300deg) translateX(30px);
    
  }
  100% {
    transform: rotate(360deg) translateX(-30px);
  }
}

@keyframes move {
  100% {
    transform: translate(200px);
  }
}

.road {
  position: relative;
  z-index: 0;
  background: url(./img/road.png);
  
  height: 25px;
  bottom: 0px;
  left: 0;

  
}


.runner {
  position: absolute;
  z-index: 1;
  background: url(./img/yuruyusss.png);
  width: 130.1px;
  height: 203px;
  bottom: 5px;
  display: flex;
  justify-content: left;
  animation: walk 5s steps(8) infinite, forwards 1s linear infinite;

  
}



@keyframes walk {
  0% {
    background-position: 0px;
    transform: translateX(-100vw);  
  }
  


  100% {
    background-position: 1041px;
    transform: translateX(100vw);
  }
}
